
//declaramos variable
@keyframes transformacion{
    0%{transform:translate(-100px, -100px);}
    25%{transform:translate(0,0)}
    50%{transform: rotate(0deg);transform: scale(1.2, 1.2);}
    75%{transform:scale(1,1);transform:skew(10deg, 10deg);}
    100%{transform:skew(0deg,0deg);}
}

.logo{
    animation-name: transformacion ;
    animation-duration: 5s ;
    animation-iteration-count: infinite ;
    animation-timing-function: ease-in-out;
}